
#catalog-page h1{
text-align: center;
font-family: "Agency FB";
font-size: 50px;
color: white;
text-shadow: 2px 2px black;
flex-grow: 1;
}

/* 1. Общ стил за скрол бар (за WebKit браузъри) */
.catalog-container::-webkit-scrollbar {
    width: 10px;  /* Ширина за вертикален скрол бар */
    height: 10px; /* Височина за хоризонтален скрол бар */
}

/* 2. Стил за пистата (трака) на скрол бара */
.catalog-container::-webkit-scrollbar-track {
    /* Тъмен фон, който съответства на #3e4443 или #32485e */
    background: #32485e; 
    border-radius: 10px;
    /* Неуморфичен вътрешен ефект за пистата */
    box-shadow: inset 1px 1px 3px #191c21, inset -1px -1px 3px #425c75;
}

/* 3. Стил за плъзгача (палеца) на скрол бара */
.catalog-container::-webkit-scrollbar-thumb {
    /* Цветът на плъзгача - вашият зелен акцент */
    background: #86a480; 
    border-radius: 10px;
    /* Външен неуморфичен ефект върху плъзгача */
    box-shadow: 2px 2px 4px #191c21;
}

/* 4. Стил при посочване с мишката върху плъзгача */
.catalog-container::-webkit-scrollbar-thumb:hover {
    background: #a0c29b; /* По-светъл нюанс при hover */
}



.catalog-container {
    width: 90vw;
    height: 70vh; 
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    overflow-y: hidden; 
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 20px;
    margin: 0px auto 0px auto; 
    padding: 20px 0; 
}
 .catalog-container .game {
    flex-shrink: 0; 
    width: 20vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(219, 173, 173, 0.308));
    transform-origin: center;
    transform: perspective(800px) rotateY(28deg);
    transition: 0.5s;
    
}

.catalog-container .game img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    -webkit-box-reflect: none;
    display: block;
    transition: opacity 0.5s;
    border: 5px solid black;
}


.details-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    box-sizing: border-box;
    font-size: 26px;
    font-family: "Agency FB";
    border: 5px solid black;
}

.details-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 5px;
    padding: 10px;
    font-family: "Agency FB";
    font-size: 18px;
}

.details-button:hover {
    background-color: #4e8339;
}


.game:hover {
    transform: perspective(900px) rotateY(0deg);
    opacity: 1;
}

.game:hover img {
    opacity: 0.5;
}

.game:hover .details-overlay {
    opacity: 1;
    margin-left: -4px;
}